form {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  gap: 20px;
  padding: 20px;
  max-width: 900px;
  margin: auto;
  box-sizing: border-box;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.genderClass {
  display: flex;
  align-items: center;
}

::ng-deep .cdk-overlay-pane .mat-mdc-select-panel {
  background-color: white !important;
}

input[type="text"],
input[type="email"],
input[type="date"],
textarea,
select {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 0px;
}

textarea {
  min-height: 100px;
}

.addressClass,
.checkBoxId {
  grid-column: span 2;
}

mat-form-field {
  width: 100%;
}

.btnId {
  grid-column: span 2;
  display: flex;
  gap: 50px;
  margin: 0 auto;
}

button[type="submit"] {
  background-color: green;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button[type="reset"] {
  background-color: red;
  color: white;
  border-radius: 5px;
  border: none;
}

::ng-deep .mdc-text-field{
  padding: 0px 4px !important;
}
.mat-mdc-form-field-hint-wrapper,
.mat-mdc-form-field-error-wrapper {
  padding: 0 !important;
}

.mat-mdc-form-field-error-wrapper,.mat-mdc-form-field-error-wrapper div{
  padding: 0px !important;
}
::ng-deep .mat-mdc-form-field-error-wrapper{
  padding: 0px !important;

}
.mat-mdc-form-field-error{
  font-size: 14px;
  padding: 0px 8px;
}